.Logo-div {
  height: auto;
  width: auto;
  min-width: 7%;
  min-height: 5%;
  max-height: 7%;
  max-width: 5%;
}

#intro-text {
  font-family: "Graphic-web", Helvetica, sans-serif;
  font-weight: 400;
}
