.form-contact {
  padding-left: 30%;
  padding-top: 10%;
  padding-bottom: 10%;
}
@media (max-width: 400px) {
  .form-contact {
    padding-left: 10%;
    padding-right: 10%;
  }
}

#form-data {
  padding-top: 1%;
  padding-bottom: 1%;
}
