#mc_embed_signup {
  padding: 3%;
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

#mce-NAME input {
  display: block;
}

ul {
  list-style: none;
}
#mce-PHONE,
#mce-EMAIL,
#mce-NAME {
  padding: 0.5%;
  margin: 1%;
  border: 2px;
  border-color: rgb(0, 0, 0);
  border-radius: 5px;
}

#mc_embed_signup {
  padding-left: 40%;
}

#mc-embedded-subscribe {
  color: white;
  border-radius: 10px;
  background: black;
  transition: background 0.25s ease-in-out;
}
#mc-embedded-subscribe:hover {
  color: black;
  background-color: rgb(199, 198, 198);
}
#Form-text {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: x-large;
  font-weight: 900;
}
#Form-text:hover {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: x-large;
  font-weight: 900;
  color: rgb(151, 151, 151);
}
input {
  padding: 1%;
}
